/* TODO Add site wide styles */

.nav-list{
  position: absolute;
  top: 0px;
  display: grid;
  grid-template-columns: 10% 60% 10% 10% 10%;
  grid-template-rows: 100%;
  width: 100%;
  padding-left: 20px;
  font-family: "Capsule Sans Text", -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: bold;
  font-size: 13px;
  list-style-type:none;
  align-items: center;
}
*{
  background-color: black;
  color: white;
}
.home-logo{
  width: 38px;
  height: 38px;
}
.green-home-logo{
  position: absolute;
  width: 38px;
  height: 38px;
}
.home-logo-li{
  width: 38px;
  height: 38px;
  display: block;
}
.home-logo-li:hover .green-home-logo{
  display: block;
}
.home-logo-li:hover .home-logo{
  display: none;
}
.search{
  height: 80%;
}
.search:hover{
  box-shadow: 0px 4px 20px 0px rgba(255, 255, 255, 0.05);
}
.search-input{
  width: 90%;
  background-color: white;
  height: 100%;
  box-shadow: 2px 2px;
  border: 2px solid white;
  border-radius: 10px;

.login-page-div {
    display: inline-block;
    margin-top: 14.3%;
    margin-left: 52.55%;
}

.login-form-header {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.login-form-email-header, .login-form-password-header {
    padding-top: 10px;
    padding-bottom: 10px;
}

.login-input-email, .login-input-password {
    background-color: rgba(195, 195, 195, 0.3);
    height: 40px;
    width: 400px;
    border-radius: 4px;
    border-style: none;
}

.login-sign-in-button {
    padding-top: 40px;
}

.login-button, .demo-user-login-button {
    background-color: rgba(0, 180, 5, 1);
    height: 40px;
    width: 120px;
    border-radius: 3px;
    border-style: none;
    color: white;
}

.forgot-account {
    padding-top: 20px;
    font-size: 15px;
    color: rgba(0, 180, 100, 1)
}

.demo-user-form {
    padding-top: 20px;
}
