/* TODO Add site wide styles */

.nav-list{
  position: absolute;
  top: 0px;
  display: grid;
  grid-template-columns: 10% 60% 10% 10% 10%;
  grid-template-rows: 100%;
  width: 100%;
  padding-left: 20px;
  font-family: "Capsule Sans Text", -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: bold;
  font-size: 13px;
  list-style-type:none;
  align-items: center;
}

body {
  margin: 0px;
}

.home-logo{
  width: 38px;
  height: 38px;
}
.green-home-logo{
  position: absolute;
  width: 38px;
  height: 38px;
}
.home-logo-li{
  width: 38px;
  height: 38px;
  display: block;
}
.home-logo-li:hover .green-home-logo{
  display: block;
}
.home-logo-li:hover .home-logo{
  display: none;
}
/* .search{
  height: 80%;
}
.search:hover{
  box-shadow: 0px 4px 20px 0px rgba(255, 255, 255, 0.05);
} */


/* Login Page CSS */
.login-background {
    background-image: url(https://www.pcinvasion.com/wp-content/uploads/2015/06/Batman-Arkham-Knight-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    min-width: 500px;
    width: 50%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

.login-page-div {
    display: inline-block;
    margin-top: 14.3%;
    margin-left: 52.55%;
}

.login-form-header {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.login-form-email-header, .login-form-password-header {
    padding-top: 10px;
    padding-bottom: 10px;
}

.login-input-email, .login-input-password {
    background-color: rgba(195, 195, 195, 0.3);
    height: 40px;
    width: 400px;
    border-radius: 4px;
    border-style: none;
}

.login-sign-in-button {
    padding-top: 40px;
}

.login-button, .demo-user-login-button {
    background-color: rgba(0, 200, 5, 1);
    height: 40px;
    width: 120px;
    border-radius: 3px;
    border-style: none;
    color: white;
}

.forgot-account {
    padding-top: 20px;
    font-size: 15px;
    color: rgba(0, 200, 5, 1)
}

.demo-user-form {
    padding-top: 20px;
}

/* Stock Page CSS */

.stock-chart {
  width: 80%;
  margin-top: 100px;
}

.stock-chart-container {
  display: flex;
  justify-content: center;
}

.stock-page {
  background-color: #040F15;
  width: 100vw;
  min-height: 100vh;
  padding: 0;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto;
  grid-template-areas: "details buy";
}

.stock-details {
  grid-area: details;
}

.stock-buy {
  grid-area: buy;
}

.spaceholder {
  height: 590px;
}

.stock-price-container {
  position: absolute;
  margin-left: 25px;
  font-size: 30px;
  color: white;
}

.stock-name, .stock-price, .stock-return {
  font-size: 30px;
  color: white;
}

.stock-return {
  font-size: 15px;
  margin-top: 5px;
}

.company-details-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.company-details {
  color: white;
  display: flex;
  justify-content: space-between;
}

.company-about {
  color: white;
  font-size: 25px;
  margin-top: 30px;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

.company-website + a {
  color: #03C805;
}

.company-details div {
  margin: 10px 0 10px 0;
}

.company-market-cap, .company-ipo, .company-website {
  margin-top: 10px;
  font-weight: bold;
}

.hidden {
  display: none
}

.buy-container {
  display: flex;
  flex-direction: column;
  background-color: #30363A;
  padding: 20px;
  width: 60%;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 100px;
  border: 1px solid lightgray;
  border-radius: 4px;
  color: white;
}

.stock-input {
  height: 25px;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.stock-input > label {
  margin: auto 0;
}

.stock-buy-sell {
  width: 100%;
  background-color: transparent;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-bottom: 1px solid white;
}

.stock-buy-sell:hover {
  cursor: pointer;
}

.stock-buy-sell:focus {
  outline: none;
}

.market {
  border-bottom: 1px solid lightgray;
}

#stock-type-dropdown  {
  box-sizing: border-box;
  width: 60%;
  height: 30px;
  border-radius: 3px;
  color: white;
  background-color: transparent;
}

#stock-amount {
  width: 40%;
  padding: 0px;
  height: 30px;
  border-radius: 3px;
  color: white;
  background-color: #dfdfdf81;
  text-align: right;
  padding-right: 5px;
  border: 1px solid #F5F8FA;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#stock-amount:focus {
  outline: none;
  border: 1.2px solid #03C805;
  background-color: transparent;
}

#stock-type-dropdown:focus {
  outline: none;
}

#stock-amount:hover {
  background-color: transparent;

}



#stock-type-dropdown:hover {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.stock-buy-button{
  width: 100%;
  background-color: #03C805;
  border: none;
  padding: 15px;
  font-size: 14px;
  font-weight: 550;
  margin: 25px 0;
  border-radius: 6px;
}

.balance {
  margin: 10px 0;
  padding-top: 20px;
  border-top: 1px solid white;
  text-align: center;
  color: #03C805;
}

.stock-buy-button:hover {
  cursor: pointer;
  background-color: #19ca1c;
}

/*  */








/* Sign-up Page CSS */

.signup-form-content {
    display: block;
    margin-left: 9.5%;
    margin-top: 8%;
}

.signup-form-div {
    display: flex;
    flex-direction: column;
    /* flex-flow: row wrap; */
    /* max-width: 630px; */
    width: 840px;
}

.signup-form-header {
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    font-family: Helvetica, "Segoe UI", "Capsule Sans Text", -apple-system, BlinkMacSystemFont, sans-serif;
}

.signup-form-tag {
    padding: 10px 0px;
    margin-bottom: 15px;
    font-size: 15px;
    font-family: Helvetica, "Segoe UI", "Capsule Sans Text", -apple-system, BlinkMacSystemFont, sans-serif;
}

.signup-input-first-name, .signup-input-last-name {
    height: 35px;
    width: 370px;
    border-radius: 3px;
    border: 1px solid white;
    background-color: rgba(245, 248, 250, 1);
    padding-left: 20px;
}

.signup-error-container {
  color: rgba(255, 80, 0, 1);
  font-size: 18px;
  margin-left: 7.5%;
  font-family: Helvetica, "Segoe UI", "Capsule Sans Text", -apple-system, BlinkMacSystemFont, sans-serif;
}

::placeholder {
  color: rgba(4, 13, 20, 0.3);
  font-size: 13px;
  font-family: Helvetica, "Segoe UI", "Capsule Sans Text", -apple-system, BlinkMacSystemFont, sans-serif;
}

.signup-input-first-name {
    margin: 0px 10px 0px 0px;
}

.signup-input-last-name {
    margin: 0px 0px 0px 10px;
}

.signup-input-email, .signup-input-password {
    height: 35px;
    width: 780px;
    padding-left: 20px;
    border-radius: 3px;
    border: 1px solid white;
    background-color: rgba(245, 248, 250, 1);
    margin-top: 20px;
}

.signup-input-email:hover, .signup-input-password:hover,
.signup-input-first-name:hover, .signup-input-last-name:hover {
  background-color: white;
  box-shadow: 0 0 1pt rgba(128, 128, 128, 1);
}

.signup-input-email:focus, .signup-input-password:focus,
.signup-input-first-name:focus, .signup-input-last-name:focus {
  background-color: white;
  outline: 0px;
  border: 1px solid rgba(0, 200, 5, 1);
}

.signup-button {
  background-color: rgb(0, 200, 5);
  color: white;
  height: 47px;
  border-radius: 3px;
  width: 150px;
  border-style: none;
  margin-top: 40px;
}

.signup-button:hover {
  background-color: rgb(0, 180, 5);
}

.signup-text {
  padding: 0pt 50pt;
}

.login-link {
  padding: 0pt 20pt;
}

.signup-link, .login-link {
  color: rgb(0, 200, 5);
}

.signup-page-testimonial-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 40%;
  margin-left: 60%;
  background-color: rgba(228,233,237, 0.4);
  height: 97%;
  position: fixed;
  top: 0;
  right: 0;
  font-family: "Capsule Sans Text", "Segoe UI", Helvetica, Arial, sans-serif;
}

.signup-page-testimonial-content {
  margin-top: 17%;
  margin-left: 10%;
  line-height: 1.6;
}

.signup-page-testimonial-header {
  font-size: 15px;
  font-weight: 700;
  padding-bottom: 10px;
  padding-top: 47px;
}

.signup-page-testimonial {
  max-width: 35%;
  font-size: 15px;
}

.signup-page-fine-print {
  max-width: 50%;
  font-size: 13px;
  font-family: "Capsule Sans Text", "Segoe UI", Helvetica, Arial, sans-serif;
  margin-left: 10%;
  margin-top: 6%;
  color: rgb(180, 189, 194);
  line-height: 20px;
  width: 800px;
}

.break {
    flex-basis: 100%;
    height: 0;
}

/* Landing page CSS */

.landing-page-nav-list {
  position: absolute;
  top: 0px;
  display: grid;
  grid-template-columns: 14% 66% 10% 10% 10%;
  grid-template-rows: 100%;
  width: 90%;
  padding-left: 20px;
  font-family: "Capsule Sans Text", -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: bold;
  font-size: 13px;
  list-style-type:none;
  align-items: center;
}
.landing-page{
  margin-top: 70px;
  width: 100%;
  font-family: "Capsule Sans Text", -apple-system, BlinkMacSystemFont, sans-serif;
}
.landing-page-title{
  font-size: 20px;
  font-family: "Capsule Sans Text", -apple-system, BlinkMacSystemFont, sans-serif;

}
.landing-page-nav-login-button {
  background-color: white;
  height: 40px;
  width: 80px;
  border-radius: 3px;
  border-style: none;
  color: black;
  font-style: none;
  font-size: 20px;
  font-family: "Capsule Sans Text", -apple-system, BlinkMacSystemFont, sans-serif;
  text-decoration: none;
}
.landing-page-nav-sign-up-button {
  height: 40px;
  width: 80px;
  border-radius: 3px;
  border-style: none;
  color: white;
  font-size: 20px;
  font-family: "Capsule Sans Text", -apple-system, BlinkMacSystemFont, sans-serif;
  text-decoration: none;
}
.landing-page-sign-up-button {
  margin-top: 20px;
  background-color: black;
  height: 60px;
  width: 120px;
  border-radius: 10px;
  border-style: none;
  color: white;
  font-size: 20px;
  font-family: "Capsule Sans Text", -apple-system, BlinkMacSystemFont, sans-serif;
  margin-left: 20px;
}
.landing-page-login-link{
  font-size: 20px;
}
#landing-image{
  height: 650px;
  width: 100%;
  display: flex;
  background-color: rgb(168, 235, 60);
  justify-content: center;
}
#invest-header{
  font-size: 60px;
  flex-wrap: wrap;
  width: 30%;
}
#invest-paragraph{
  font-size: 25px;
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  max-height: 200px
}
#invest{
  margin-left:100px;
  margin-top: 30px;
  max-height: 620px;
}
.comission-fees{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 500px;
  justify-content: center;
  font-family: "Capsule Sans Text", -apple-system, BlinkMacSystemFont, sans-serif;
  justify-self: center;
  margin-left: 30%;
}
#comission-fee-title{
  font-size: 30px;
  justify-self: center;
}
#comission-fee-p{
  font-size:20px;
}
#batman {
  height: 620px;
  width: 600px;
  margin-right: 100px;
}
.landing-signup-box{
  padding: 10px;
  background-color: rgba(0, 180, 5, 1);
  width: 80px;
  border-radius: 3px;
}
.portfolio-page{
  background-color: #040F15;
  width: 100vw;
  height: 100vh;
  min-height: 5800px;
  padding: 0;
}
.portfolio-button, .user-account-button {
  height: 80px;
  width: 120px;
  padding: 10px;
  border-radius: 3px;
  border-style: none;
  color: white;
  font-family: "Capsule Sans Text", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 15px;
  text-decoration: none;
  background-color: #040F15;
  font-style: bold;
}
.portfolio-button:hover, .user-account-button:hover {
  color: rgba(0, 200, 5, 1);
}
#watchlist-div{
  position: fixed;
  margin-left: 75%;
  margin-top: 10%;
  color: white;
  border: .5px solid rgba(189, 192, 189, .2);
  border-radius: 4px;
  box-shadow: 2px grey;
  background-color: #1E2124;
  padding: 15px;
  height: 70%;
  z-index: 1;
  overflow-y: scroll;
}
.watchlist-title{
  font-size: 15px;
  font-family: "Capsule Sans Text", -apple-system, BlinkMacSystemFont, sans-serif;
  text-align: left;
  padding-left: 0px;
  padding-bottom: 10px;
  border-bottom: .5px solid rgba(189, 192, 189, .2);
}
#watchlist{
  list-style-type: none;
  width: 200px;
  margin-left: none;
  padding-left: 0;
}
.individual-watchlist-div{
  display: flex;
  justify-content: space-around;
}

#wishlist-chart{
  height: 100px;
  width: 100px;
  background-color: #1E2124;
}
#watchlist-stock-name, #watchlist-stock-price{
  font-size: 13px;
  font-family: "Capsule Sans Text", -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: bold;
  color: white;
  text-decoration: none;
}
#watchlist-stock-name{
  padding-top: 15px;
  font-style: bold;
}

.test {
  color: white;
}
/* #stock-chart-homepage-div{
  display: flex;
  position: absolute;
  width: 680px;
  height: 350px;
  margin-left: 50px;
  justify-content: center;
  margin-top: 200px;
} */

#stock-chart-homepage {
  display: flex;
  position: absolute;
  width: 65%;
  height: 200px;
  margin-left: 50px;
  justify-content: center;
  margin-top: 130px;
  font-family: "Capsule Sans Text", -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: bold;
}
.stock-name-homepage {
  font-size: 30px;
  color: white;
  position: absolute;
  margin-left: 75px;
  margin-top: 100px;
  font-family: "Capsule Sans Text", -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: bold;
}
#news-feed-div {
  position: absolute;
  margin-top: 700px;
  margin-left: 75px;
  color: white;
  font-family: "Capsule Sans Text", -apple-system, BlinkMacSystemFont, sans-serif;
}
#news-item{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 15% 40% 45%;
  border-top: 1px solid rgb(190, 176, 176);
  width: 65%;
  max-height: 270px;
  padding-top: 10px;
}
#news-feed{
  list-style-type: none;
  padding: 0;
}
#news-source{
  font-size: 15px;
  grid-area:1/1/1/1;
  padding-bottom: 15px;;
}
#news-headline{
  font-size: 20px;
  grid-area: 2/1/2/1;
  padding-bottom: 15px;
}
#news-summary{
  font-size: 13px;
  grid-area: 3/1/3/1;
  overflow: hidden;
}
#news-image{
  height: 150px;
  width: 280px;
  object-fit: cover;
  grid-area: 2/2/2/3;
  margin: auto;
  border-radius: 10px;
}
#watchlist-div::-webkit-scrollbar {
  display: none;
}


/* Search Bar CSS */

.search-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 478px;
  max-height: 494px;
  position: relative;
  outline: none;
  margin-left: 20%;
}

.search-bar {
  height: 30px;

}

.search-bar-list {
  position: absolute;
  color: white;
  height: 460px;
  background-color: rgba(30, 33, 36, 1);
  width: 99.9%;
  margin-top: 32px;
  z-index: 1;
  border: 0.8px solid;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-color: rgba(30, 33, 36, 1);
  border-right-color: rgba(240, 244, 246, 0.3);
  border-left-color: rgba(240, 244, 246, 0.3);
  border-bottom-color: rgba(240, 244, 246, 0.3);
}

#section-1::first-letter, #section-2::first-letter {
  color: rgb(0, 200, 5);
}

.search-input {
  width: 99%;
  background-color: rgb(4, 15, 21);
  height: 100%;
  color: white;
  /* box-shadow: 2px 2px;
  border: 2px solid white;
  border-radius: 10px; */
  border-radius: 3px;
  border: 0.8px solid rgba(240, 244, 246, 0.3);
  outline: none;
}

#section-1 {
  padding-top: 20px;
}

.search-input:focus {
  outline: none;
  background-color: rgba(30, 33, 36, 1);
  border-bottom-color: none;
}

.search-input:hover {
  background-color: rgba(30, 33, 36, 1);
}

.search-input::placeholder {
  color: rgba(240, 244, 246, 0.5);
}
#account-drop-down-li{
  background-color: #1E2124;
  position: fixed;
  margin-top: 70px;
  width: 200px;
  height: 170px;
  margin-left: 70%;
  z-index: 2;
  border: .5px solid rgba(189, 192, 189, .2);
  border-radius: 4px;
  box-shadow: 2px grey;
  color: white;
  font-family: "Capsule Sans Text", -apple-system, BlinkMacSystemFont, sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#drop-down-username{
  font-size: 15px;
}
#drop-down-balance{
  font-size: 15px;
}
#logout-button{
  background-color: white;
  color: black;
  border: .5px solid rgba(189, 192, 189, .2);
  border-radius: 4px;
  box-shadow: 2px grey;
  font-family: "Capsule Sans Text", -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: bold;
}
#logout-button:hover{
  color: rgba(0, 200, 5, 1);
}
#drop-down-username, #drop-down-balance, #logout-button {
  padding: 15px;
}
